body {
  padding: 40px;
}

h1 {
  text-align: center;
  color: #333;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 10px auto;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 40px;
  text-align: center;
  width: 20%;
}

p {
  text-align: center;
  color: #666;
  padding-bottom: 40px;
}
